doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/sign_up_style.css')

	body
		div(class='header')
			h1 Logging page
		div(class='head')
			p It's a free real estate
			a(href='/logging') Log in
		div(class='sign_up_bg')
			div(class='form_bord')
				form
					div(class="form-group")
						label(for="inputAddress") Address
						input(type="text" class="form-control" id="inputAddress" placeholder="1234 Main St")
					div(class="form-group")
						label(for="inputAddress2") Address 2
						input(type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor")
					div(class="form-row")
						div(class="form-group col-md-6")
							label(for="inputCity") City
							input(type="text" class="form-control" id="inputCity")
						div(class="form-group col-md-4")
							label(for="inputState") State
							select(id="inputState" class="form-control")
								option(selected) Choose...
								option ...
						div(class="form-group col-md-2")
							label(for="inputZip") Zip
							input(type="text" class="form-control" id="inputZip")
					div(class="form-group")
						div(class="form-check")
							input(class="form-check-input" type="checkbox" id="gridCheck")
							label(class="form-check-label" for="gridCheck") Check me out
					button(type="submit" class="btn btn-primary") Sign in
		div(class='home_page')
			a(href='/') Home
		block content

