body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bg{
	height: 500px;
	background-color: rgb(240, 240, 240);
	z-index: -1;
}
.info{
	padding-top: 20px;
	background-color: rgba(240, 240, 240, 100%);
	text-align: center;
}

.head{
	height: 100px;
	background-color: black;

}

.head p{
	margin: 0 auto;
	color: white;
	font-size: 20px;
	float: left;
}

.head a{
	margin: 0 auto;
	color: white;
	font-size: 20px;
	float: right;
}
