body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header h1{
	text-align: center;
}

.head{
	height: 40px;
	background-color: black;
	margin: 20px;
}

.head p{
	padding: auto 0 auto 0;
	color: white;
	font-size: 20px;
	float: left;
}

.head a{
	margin: 0 auto;
	color: white;
	font-size: 20px;
	float: right;
}

.bg{
	height: 500px;
	background-color: rgb(240, 240, 240);
	z-index: -1;
}

.sign_up_bg{
	display: block;
	margin: 0 auto;
	max-width: 600px;
	background-color: rgb(240, 240, 240);
}

.form_bord{
	padding: 20px;
	display: block;
	margin: 0 auto;
}

.home_page{
	padding: 10px;
	max-width: 50px;
	display: block;
	margin: 0 auto;
}
